@font-face {
  font-family: 'Lato-Bold';
  src: url('assets/fonts/Lato-Bold.ttf') format('truetype'),
  font-weight: Bold;
  font-style: normal;
}
html,body{
  height:100%;
}
body{
  /* width:80%; */
  margin: 0 auto;
  height:100%;

  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:stretch;

  font-family:"Lato-Bold", helvetica, sans-serif;
}

div#divSide{
  flex: 0 0 15%;
  height:100%;
  background-color:#46256F;
  color:white;

  display:flex;
  flex-direction:column;
  justify-content:flex-start;

  padding-top:96px;
  padding-right:96px;
  /* padding-bottom:48px; */
  padding-left:48px;
}

div#divSide h1{
  font-size:48px;
  font-weight:bold;
  text-transform:uppercase;
}

form#socialMedia{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}

div#divSide label{
  font-size:16px;
  font-weight:bold;
  line-height:2em;
  text-transform: uppercase;
}

div#divSide input{
  font-size: 12px;
  line-height:2em;
  font-weight:bold;

  padding-bottom:6px;
  margin-bottom:32px;
  color: white;
  background:none;
  border:none;
  border-bottom: #D5CFDC 2px solid;
}

div#divSide input::placeholder{
  color: white;
  font-size: 12px;
  line-height:2em;
  font-weight:bold;
}

div#divSide #labelImg{
  font-size:24px;
  text-transform:uppercase;
}

div#divSide button#uploadImg{
  background:#27DDE0;
  color:white;

  font-size:16px;
  text-transform:uppercase;
  font-weight:bold;
  height:40px;

  border:none;
  border-radius:20px;
}

div#main{
  flex-grow:4;
  height:100%;
  background-color:#ffffff;
  color:#474747;

  padding-top:194px;
  padding-left:48px;
  padding-right: 112px;

}

div#main form{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}

div#main label{
  font-size:24px;
  font-weight:bold;
  line-height:2em;
  text-transform: uppercase;

  padding-top:16px;
}

div#main input{
  font-size: 16px;
  font-weight:400;

  padding-bottom:16px;

  color:#888888;
  border:none;
  border-bottom:#EEEEEE 2px solid;
}

div#main div#DTP{
  padding-top:16px;
}

div#main div#DTP *{
  margin-right:16px;
}

div#main div#btns{
  display: flex;
  flex-direction:row;
  justify-content:center;
}

div#main button{
  flex: 0 0 20%;
  background:#46246F;
  color:white;

  font-size:16px;
  text-transform:uppercase;
  font-weight:bold;

  margin:36px;
  height:40px;

  border:none;
  border-radius:20px;
}
